<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.rakhmatullov.projectmanagment/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.rakhmatullov.projectmanagment.view.user/UserListView.title"/>
        <item view="Project.list" title="msg://com.rakhmatullov.projectmanagment.view.project/projectListView.title"/>
        <item view="TimeEntry.list"
              title="msg://com.rakhmatullov.projectmanagment.view.timeentry/timeEntryListView.title"/>
        <item view="ProjectStats.list"
              title="msg://com.rakhmatullov.projectmanagment.view.projectstats/projectStatsListView.title"/>
        <item view="Task_.list" title="msg://com.rakhmatullov.projectmanagment.view.task/taskListView.title"/>
    </menu>

</menu-config>